{%- comment -%}

Default customer registration template.

Documentation: https://help.shopify.com/en/themes/development/templates/customers-reset-password

{%- endcomment -%}

<article class="customer-reset-password">
  <h1 class="customer-reset-password__title">{{ 'customer.reset_password.title' | t }}</h1>
  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
  {% include 'form--reset_customer_password' %}
</article>
