{%- comment -%}

Default 404 template.

Documentation: https://help.shopify.com/en/themes/development/templates/404-liquid

{%- endcomment -%}

<article class="not-found">
  <h1 class="not-found__title">{{ 'general.404.title' | t }}</h1>
  <div class="not-found__content">
    <p>{{ 'general.404.subtext_html' | t }}</p>
    <p>
      <a href="/">{{ 'general.404.link' | t }}</a>
    </p>
  </div>
</article>
