<div class="collection-section">
  <h1 class="collection-title-text">{{ collection.title }}</h1>
</div>
<div class="seperator"></div>
<div class="collection-section">
  {% render 'collection_tile' %}
</div>
